# IDE configuration folder
.idea/

# Python bytecode cache folder
__pycache__/

# Environment variables file (API keys, secrets)
.env

# Data folder (raw or backup data, usually large or sensitive)
data/*

# Ignore the large TF model file
t5-small-finetuned-news/tf_model.h5