torch==2.5.1
transformers==4.44.1
huggingface-hub==0.36.0

flask==3.1.0
gunicorn==22.0.0
requests==2.32.5
python-dotenv==1.1.0

pandas==2.3.3
nltk==3.9.2
beautifulsoup4==4.13.0
lxml==5.3.0
newspaper3k==0.2.8
tqdm==4.67.1
